---
---

<section id="contact-block" class="block block--teal">
  <div class="u-center contact__wrap">
    <h2 class="contact__headline">Let's build something enduring.</h2>
    <p class="contact__text">
      We are always looking for great businesses and talented people.
    </p>
    <a href="mailto:felix@tessellatesoftware.com" class="btn btn--on-teal contact__cta">
      Get in Touch
    </a>
  </div>
</section>

