---
---

<footer class="foot">
  <div class="wrap foot__inner">
    <div>&copy; {new Date().getFullYear()} Tessellate Software. All rights reserved.</div>
    <div><a href="mailto:felix@tessellatesoftware.com">felix@tessellatesoftware.com</a></div>
  </div>
</footer>
